<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">Catogory v1.0</li>
    <li class="active">
        <a title="HOME" href="post_page.html">HOME</a>
    </li>
    {% assign subdirs = '_posts' | subdirectories %} <!-- 0단 : 디렉터리 폴더 -->
    {% for subdir in subdirs %}
    {% assign second_folder = subdir | remove_first: "_posts/" %}
    <li>
        <a title="{{subdir}}" href="#">{{second_folder}}</a> <!-- 1단 : 디렉터리 폴더 -->
        <ul>
            {% assign subdir_childs = subdir | subdirectories %}
            {% for subdir_child in subdir_childs %}
                {% if subdir_child == "00" %} <!-- 1단 : 디렉터리 파일 -->
                    {% assign files = subdir | fileList %}
                    {% for file in files %}
                        <li>
                            <a title="" href="#">{{file}}</a>
                        </li>
                    {% endfor %}
                {% else %}
                        <li>
                            {% assign subdir_child_origin = subdir_child %}
                            <a title="" href="#">{{subdir_child | remove_first: "_posts/" | remove_first: second_folder | remove_first: "/" }} </a> <!-- 2단 : 디렉터리 폴더 -->
                            <ul>
                                {% assign folder2_files = subdir_child_origin | fileList %}
                                {% for folder2_file in folder2_files %}
                                    <li>{{folder2_file}}</li>
                                {% endfor %}
                            </ul>
                        </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}

    <p class="external">
        <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
    </p>
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>

{% comment %} Copyright 2021 Google LLC {% endcomment %}