<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">Catogory v1.0</li>
    <li class="active">
        <a title="HOME" href="post_page.html">HOME</a>
    </li>
    {% assign _posts_folders = '_posts' | subdirectories %} <!-- 0단 : 디렉터리 폴더 -->
    {% for _posts_folder in _posts_folders %}
    {% assign _posts_folder_trim = _posts_folder | remove_first: "_posts/" %}
    <li>
        <a href="#">{{_posts_folder_trim}}</a> <!-- 1단 : 디렉터리 폴더 -->
        <ul>
            {% assign _posts_folder_folders = _posts_folder | subdirectories %}
            {% for _posts_folder_folder in _posts_folder_folders %}
                {% if _posts_folder_folder == "00" %} <!-- 1단 : 디렉터리 파일 -->
                    {% assign _posts_folder_files = _posts_folder | fileList %}
                    {% for _posts_folder_file in _posts_folder_files %}
                        {% assign part = _posts_folder_file | split: "-" %}
                        {% assign extracted_part_a = part[3] | remove: ".md" %}
                        <li>
                            <a href="{{extracted_part_a}}">{{_posts_folder_file}}</a>
                        </li>
                    {% endfor %}
                {% else %}
                        <li>
                            {% assign _posts_folder_folder_trim = _posts_folder_folder | remove_first: "_posts/" | remove_first: _posts_folder_trim | remove_first: "/" %}
                            <a href="#">{{_posts_folder_folder_trim}}</a> <!-- 2단 : 디렉터리 폴더 -->
                            <ul>
                                {% assign _posts_folder_folder_files = _posts_folder_folder | fileList %}
                                {% for _posts_folder_folder_file in _posts_folder_folder_files %}
                                    {% assign parts = _posts_folder_folder_file | split: "-" %}
                                    {% assign extracted_part = parts[3] | remove: ".md" %}
                                    <li>
                                        <a href="{{extracted_part}}">{{_posts_folder_folder_file}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}

    <p class="external">
        <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
    </p>
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>

{% comment %} Copyright 2021 Google LLC {% endcomment %}